<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courses"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.courses.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.courses.Nottt"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.example.courses.MAIN" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.courses.NewCourse"
            android:label="@string/title_activity_new_course" >
        </activity>
        <activity
            android:name="com.example.courses.ShowCourses"
            android:label="@string/title_activity_show_courses" >
        </activity>
        <activity
            android:name="com.example.courses.Details"
            android:label="@string/title_activity_details" >
        </activity>
       <receiver android:name=".Wcourses" >
    	<intent-filter>
        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    	</intent-filter>
    	<meta-data 
    	    android:name="android.appwidget.provider"
            android:resource="@xml/my_app_widget_info" />
		</receiver>
        <activity
            android:name="com.example.courses.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>